@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Spiegel';
    src: url('./public/fonts/Spiegel-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Beaufort for LOL';
    src: url('./public/fonts/BeaufortforLOL-Regular.otf') format('opentype');
}